<style>
    .cd-user-modal {
        display: none;
    }
</style>
<section class="breadcrumbs breadcrumbs-2" style=" background: url('images/bg-02.jpg') no-repeat center; background-size: cover;">
    <div class="shell content-light breadcrumb-wrapper text-left">
        <h1>About</h1>
        <ol class="breadcrumb-custom">
            <li><a class="text-gray-darker" href="./">Home</a></li>
            <li class="text-gray-darker">about
            </li>
        </ol>
    </div>
</section>
<section class="section-md bg-image-17">
    <div class="shell text-sm-left">
        <h4 class="text-gray-sec text-regular">Information about me</h4>
        <h2 class="text-white text-spacing-0">Overview</h2>
        <div class="range range-md-left range-50">
            <div class="cell-lg-10">
                <p class="big text-gray-sec-2">My definition of training is: “making your MIND comfortable with the fact that your BODY is going to be a little uncomfortable”. People who don’t like to exercise usually just don’t like to be uncomfortable, but getting out of our comfort
                    zones – mentally or physically – is where positive change happens. Nobody improves while sitting under a warm fuzzy blanket. My specialty is helping people to get out of their comfort zones whether it’s for a minute or an hour. I can’t
                    make someone want to get stronger, leaner or fitter, but if they want to do it, I’m with them all the way!</p>
            </div>
            <div class="cell-lg-10">
                <div class="range range-50">
                    <div class="cell-sm-6">
                        <h4 class="text-white text-regular">My Message</h4>
                        <p class="text-gray-sec-2">If I can get this fit, so can most anyone. If you look at me and think I’ve never struggled with my weight or that I’ve been fit and athletic my whole life, you’d be completely wrong! From 16 – 22, when I should’ve been in the
                            best shape of my life, I was 20 to 25 lbs. heavier than I am now.</p>
                    </div>
                    <div class="cell-sm-6">
                        <h4 class="text-white text-regular">My Challenge</h4>
                        <p class="text-gray-sec-2">I do not consider myself genetically blessed. I don’t have the perfect set of genes. What I do have is a lot of stubbornness and a little OCD. According to all my doctors, I should not be able to do what I do. I should not be able
                            to perform at the level I do and I should be in chronic pain.</p>
                    </div>
                    <div class="cell-sm-12"><a class="button button-white arrow arrow-right text-white" href="overview.html">read more</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-lg bg-image-4">
    <div class="shell">
        <h4 class="text-gray-sec text-regular">TV, press, blogs</h4>
        <h2 class="text-spacing-0">Media</h2>
        <div class="range range-50">
            <div class="cell-sm-12">
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-carousel-2 owl-carousel-3 nav-center" data-items="1" data-sm-items="2" data-md-items="3" data-dots="true" data-nav="true" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false">
                    <div class="owl-item">
                        <div class="press-block text-left"><a class="text-bold" href="#">When Skechers Shape Ups came out, I was hired as a Spokesperson</a>
                            <p>Here’s an interview live in a mall with KTLA</p>
                        </div>
                        <div class="press-block text-left"><a class="text-bold" href="#">Here’s a story on Balance Training and its amazing benefits</a>
                            <p>I blogged about it on Huffington Post.</p>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="press-block text-left"><a class="text-bold" href="#">Research sheds new light on weight training</a>
                            <p>ABC7 fitness stories.</p>
                        </div>
                        <div class="press-block text-left"><a class="text-bold" href="#">Are new intense exercise DVDs right for you?</a>
                            <p>Home exercise course.</p>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="press-block text-left"><a class="text-bold" href="#">Skinny people might be fat on the inside</a>
                            <p>How to live in harmony with yourself.</p>
                        </div>
                        <div class="press-block text-left"><a class="text-bold" href="#">Rowbike gives riders a total body workout</a>
                            <p>How to be in tone.</p>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="press-block text-left"><a class="text-bold" href="#">Skinny people might be fat on the inside</a>
                            <p>How to live in harmony with yourself.</p>
                        </div>
                        <div class="press-block text-left"><a class="text-bold" href="#">Rowbike gives riders a total body workout</a>
                            <p>How to be in tone.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-lg bg-white">
    <div class="shell">
        <h4 class="text-gray-sec text-regular">What my clients say</h4>
        <h2 class="text-spacing-0">Testimonials</h2>
        <div class="range range-md-40 range-20">
            <div class="cell-xs-12">
                <div class="testimonial-block">
                    <div class="range">
                        <div class="cell-md-6 veil reveal-md-block">
                            <div class="img"><img src="images/about-1-552x561.png" width="272" height="413" alt=""></div>
                        </div>
                        <div class="cell-md-6 text-md-left">
                            <p class="quote quote-2">
                                <q>Edward Newman is a truly excellent trainer. He is the perfect combination of tough and warm, and he works with the whole person -- mentally, emotionally and physically. Because of his efforts, I am stronger and more flexible, I have better balance and most importantly, working out has become fun. I definitely recommend him without any hesitation.</q>
                            </p>
                            <p class="name text-gray-darker big"> Sara White <br> <span class="text-regular">(housewife)</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-xs-12"><a class="button button-primary arrow arrow-right" href="testimonials.html">more testimonials</a></div>
        </div>
    </div>
</section>

<div ng-controller="vm">
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
</div>