<style>
    .cd-user-modal {
        display: none;
    }
    
    p {
        font-size: 1.5em !important;
    }
</style>
<!-- Privacy Policy-->
<section class="section-md text-md-left">
    <div class="shell">
        <h4>Privacy Policy</h4>
        <!-- Terms-list-->
        <div class="range range-center range-30">
            <div class="cell-sm-12">
                <div class="help__answer__box" style="">
                    <p>Last Updated: May 22, 2018</p>
                    <p>This Privacy Policy describes how we collect, use, process, and disclose your information, including personal information, in conjunction with your access to and use of Bodybuilding.com’s website and/or mobile applications. We may
                        change or add to this Privacy Policy, so we encourage you to review it periodically. </p>
                    <p>When this Privacy Policy mentions “Bodybuilding.com,” “we,” “us,” or “our,” it refers to Vitalize, LLC dba Bodybuilding.com (“Bodybuilding.com”), which is the company that is responsible for your information under this Privacy Policy
                        (“Data Controller”).</p>
                    <p>If you see an undefined term in this Privacy Policy (such as “Bodybuilding.com Platform(s)”), it has the same definition as in our <a>Terms of Use</a>.</p>
                    <p>Bodybuilding.com is located in the United States. Information collected on our website and applications is stored in the United States; therefore, your information may become subject to U.S. law. By using the Bodybuilding.com Platform(s),
                        you consent to the transfer of your data overseas and across borders, and from your country or jurisdiction to other countries or jurisdictions around the world. The laws governing data in your home country may differ from those
                        in the countries to which data is transferred. By accessing and using our website and mobile applications, you consent to the transfer of your data in this manner.</p>
                    <h4>1.INFORMATION WE COLLECT</h4>
                    <h4>1.1.Information You Provide to Us</h4>
                    <h4>1.1.1.Information that is necessary for the use of Bodybuilding.com’s website and/or mobile applications.</h4>
                    <p>We ask for and collect the following personal information about you when you use Bodybuilding.com’s website or mobile applications, which is necessary for the performance of a contract between you and us (e.g., placing an order) and
                        to allows us to comply with various legal obligations. Without this information, we may not be able to provide you with all of the requested services.</p>
                    <ul>
                        <li>Account Information. When you sign up for a Bodybuilding.com account (or BodySpace account), via our website or mobile applications, we require certain information such as your first and last name, e-mail address, username, and
                            password. If you choose to register by using a third-party account (such as your Facebook account), please see “Information We Collect from Third Parties” below.</li>
                        <li>Order Information. When you place an order on our website or sign up for a subscription service, we may request that you provide additional information such as your billing and shipping addresses and phone number.</li>
                        <li>Payment Information. To facilitate processing of payments on our website, we require you to provide certain financial information (e.g., your credit card number).</li>
                        <li>Communications with Bodybuilding.com. When you communicate with Bodybuilding.com via our website or mobile applications (e.g., for customer service inquiries), we collect information about your communication and any information
                            you choose to provide.</li>
                    </ul>
                    <h4>1.1.2.Information you choose to provide to us.</h4>
                    <p>You may choose to provide us with additional personal information in order to obtain a better user experience when using the Bodybuilding.com Platform(s). This additional information will be processed based on your consent.</p>
                    <ul>
                        <li>Additional Profile Information. You may choose to provide additional information as part of your Bodybuilding.com and/or BodySpace profile, such as gender, first and last name, preferred language, personal description, photographs,
                            videos, health statistics, health goals, etc. This information, if you choose to provide it, will be part of your public profile page and will be publicly visible to others.</li>
                        <li>Other Information. You may otherwise choose to provide us information when you fill in a form, conduct a search, update or add information to your Bodybuilding.com and/or BodySpace profile, respond to surveys, post to community
                            forums or on product reviews, participate in promotions, or use other features on the Bodybuilding.com Platform(s). </li>
                    </ul>
                    <h4>1.2.Information We Get from Your Use of Our Platform(s) and Services</h4>
                    <p>When you use Bodybuilding.com’s Platform(s), we automatically collect information, including personal information, about the services you use and how you use them, such as information about how you use or interact with our website
                        and mobile applications, view or interact with our ads and content, and information about your computer or mobile device. This information may include:</p>
                    <ul>
                        <li>Usage Information. We collect information about your interactions with our website and mobile applications such as the pages or content you view, your searches, and other actions on Bodybuilding.com’s Platform.</li>
                        <li>Device Information. We automatically collect device information when you access our website or mobile applications, even if you have not created a Bodybuilding.com account or logged in. That information includes, among other things:
                            your IP address, operating system version, device type, system and performance information, and browser type. Additionally, certain services include a unique application number. This number and information about your installation
                            may be sent to Bodybuilding.com when you install or uninstall a certain service or when a service periodically contacts our servers, such as for updates.</li>
                        <li>Log Data. Like most websites today, our web servers keep log files that record data each time a device accesses those servers. The log files contain data about the nature of each access, including IP addresses, internet service
                            providers, files viewed on our website, operating system versions, device type, and timestamps.</li>
                        <li>Local Storage. Bodybuilding.com may collect and store information – including personal information – locally on your device using mechanisms such as browser web storage and application data caches. </li>
                        <li>Location Information. When you use our services, we may collect information about your precise or approximate location as determined through data such as your IP address or mobile device’s GPS to offer you an improved user experience
                            for things such as personalized content, language preferences, advertising, or search results. Most mobile devices allow you to control or disable the use of location services. Most likely, these controls are located in the
                            device’s settings menu; however, if you have questions about how to disable your device’s location services, we recommend you contact your mobile service carrier or your device manufacturer. Bodybuilding.com may also collect
                            this information even when you are not using our apps if this connection is enabled through your settings or device permissions.</li>
                        <li>Cookies and Similar Technologies. Bodybuilding.com may set and access cookies on your computer. We may also set and access device identifiers which may include your IP address, user agent information (e.g., browser version, OS
                            type, and version), and device-provided identifiers. Bodybuilding.com also lets other trusted business use cookies or similar technologies for advertising, analytics, and research purposes on some of the Bodybuilding.com Platform(s).
                            If you would like more information about this practice and to know your choices about not having this information used by these companies, visit <a href="http://networkadvertising.org/">http://networkadvertising.org/</a> or
                            review our <a>Cookies Policy</a>.</li>
                        <li>Payment Transaction Information. Bodybuilding.com, or its third-party agents, collects information related to your payment transactions through our website or mobile applications, including the payment instrument used, date and
                            time, payment amount, payment instrument expiration date, and billing post code; PayPal or Amazon Pay e-mail address (if such payment method is used); your address; and other related transaction details. This information is
                            necessary for the adequate performance of the contract between you and Bodybuilding.com for provision of payment services.</li>
                    </ul>
                    <h4>1.3.Information We Collect from Third Parties </h4>
                    <p>Bodybuilding.com, or its third-party agents, may collect information, including personal information, that others provide about you when they use Bodybuilding.com’s Platform(s), or obtain information from other sources and combine
                        that with information we collect through Bodybuilding.com’s Platform(s). We do not control, supervise, or respond for how the third parties providing your information process your personal data, and any information request regarding
                        the disclosure of your personal information to us should be directed to such third parties.</p>
                    <ul>
                        <li>Third-party Services. If you link, connect, or login to your Bodybuilding.com account (desktop or mobile) with a third-party service (e.g., Facebook), the third-party service may send us information such as your registration and
                            profile information from that service. This information varies and is controlled by that service or as authorized by you via your privacy settings at such third-party service. </li>
                        <li>Other Sources. To the extent permitted by applicable law, we may receive additional information about you, such as demographic data or fraud detection information, from third-party service providers and/or partners, and combine
                            it with information we have about you. For example, we may receive fraud warnings from service providers for fraud prevention and risk assessment efforts. Additionally, we may receive information about you and your activities
                            on and off the Bodybuilding.com Platform(s) through partnerships, or about your experiences and interactions from our partner advertising networks.</li>
                    </ul>
                    <h4>2.HOW WE USE INFORMATION WE COLLECT</h4>
                    <p>Bodybuilding.com (or our third-party agents) uses, stores, and processes information, including personal information, about you to provide, understand, improve, and develop Bodybuilding.com’s Platform(s), create and maintain a secure
                        environment, and comply with our various legal obligations.</p>
                    <h4>2.1.Provide, Improve, and Develop Bodybuilding.com’s Platform(s) and Services</h4>
                    <p>We use the information we collect to provide, improve, and develop Bodybuilding.com’s Platform(s) by, for example:</p>
                    <ul>
                        <li>Enabling you to access and use Bodybuilding.com’s Platform(s) (e.g., website and mobile apps);</li>
                        <li>Operating, protecting, improving, and optimizing Bodybuilding.com’s Platform(s), services, and experience, such as by performing analytics and conducting research;</li>
                        <li>Offering you a personalized experience by, among other things, ranking search results or showing customized ads based on your searches and preferences;</li>
                        <li>Enabling you to access and use our payment services (e.g., PayPal, Amazon Pay, etc.) to place orders or sign up for subscriptions;</li>
                        <li>Providing customer service via convenient avenues, such as chat; and</li>
                        <li>Sending you service or support messages.</li>
                    </ul>
                    <h4>2.2.Create and Maintain a Secure Environment</h4>
                    <p>We use the information we collect to ensure Bodybuilding.com’s Platform(s) are secure by, for example:</p>
                    <ul>
                        <li>Detecting and preventing fraud, spam, abuse, security incidents, and other harmful activities;</li>
                        <li>Conducting investigations and risk assessments;</li>
                        <li>Verifying or authenticating information or identifications provided by you;</li>
                        <li>Conducting checks against databases and other information sources;</li>
                        <li>Complying with our legal obligations;</li>
                        <li>Resolving disputes with any of our users and enforcing our agreements with third parties; and</li>
                        <li>Enforcing our other policies, such as our <a>Terms of Use</a>, <a>All Access Terms And Conditions</a>, and various other policies.</li>
                    </ul>
                    <h4>2.3.Provide a Personalized Experience and Improve Our Advertising and Marketing</h4>
                    <p>We use the information we collect to provide a custom user-experience through things such as:</p>
                    <ul>
                        <li>Sending promotional messages, marketing, advertising, and other information that may be of interest to you, unless you indicate a preference to opt-out of receiving these communications (you can opt out of marketing communications
                            at any time by clicking on the “unsubscribe” link in such e-mails);</li>
                        <li>Personalizing, measuring, and improving advertising to be more tailored to your interests in products, training programs, content type, etc.; and</li>
                        <li>Administering referral programs, rewards, surveys, sweepstakes, contests, or other promotional activities or events sponsored or managed by Bodybuilding.com or its third-party business partners.</li>
                    </ul>
                    <h4>3.HOW WE SHARE INFORMATION WE COLLECT</h4>
                    <p>We work with various third-party partners who help us provide and improve our products and services. We don’t sell any of your information to anyone, and we never will. We also impose strict restrictions on how our partners can use
                        and disclose the date we provide. We have summarized how we share the information we collect below.</p>
                    <h4>3.1.With Your Consent</h4>
                    <p>We may share your information at your direction or as described at the time of sharing, such as when you authorize a third-party application or website to access your Bodybuilding.com account.</p>
                    <h4>3.2.Profiles and Other Public Information</h4>
                    <p>Some of Bodybuilding.com’s Platform(s) (e.g., BodySpace, Bodybuilding.com Forums) let you publish information, including personal information, that is visible to the general public. For example:</p>
                    <ul>
                        <li>Parts of your profile page, such as your first and last name, your username, your description, your fitness statistics (e.g., weight), fitness goals, current training programs, public photographs, and city (if provided) are publicly
                            visible to others.</li>
                        <li>If you submit content in Bodybuilding.com’s public forums; on social media posts, product reviews, other users’ accounts; or use similar features on Bodybuilding.com’s Platform(s), that content is publicly visible. </li>
                    </ul>
                    <p>Information you share publicly on Bodybuilding.com’s Platform(s) may be indexed through third-party search engines. If you change your settings or public-facing content, these search engines may not update their databases. We do not
                        control the practices of third-party search engines, and they may use caches containing your outdated information. </p>
                    <h4>3.3.Interaction Between Members</h4>
                    <p>Some of Bodybuilding.com’s Platform(s) (e.g., BodySpace) allow you to communicate with other Platform users via private direct message or other means, in which case Bodybuilding.com will share such communications with the intended
                        recipient. You should consider who you choose to share information with, because people who can see your activity and/or communications on the Bodybuilding.com Platform(s) can choose to share it with others on and off our Platform(s),
                        including people and businesses outside the audience you may have intended. For example, when you send a message to specific members, they can screenshot or re-share that content to others across or off our Platform(s) or in-person.
                        Also, when you comment on someone else’s post, react to their content, or post a review on a product, your comments and reactions are visible to anyone who can see the other person’s content. </p>
                    <h4>3.4.Compliance with Laws, Responding to Legal Requests, Preventing Harm, and Protection of Bodybuilding.com’s Rights</h4>
                    <p>Bodybuilding.com may disclose your information, including personal information, to courts, law enforcement, or governmental authorities, or authorized third parties, if and to the extent we are required or permitted to do so by law
                        or if such disclosure is reasonably necessary to: (i) comply with our legal obligations; (ii) comply with legal process and to respond to claims or demands asserted against Bodybuilding.com; (iii) respond to verified requests relating
                        to a criminal investigation or alleged or suspected illegal activity or any other activity that may expose us, you, or any other of our users to legal liability; (iv) to enforce and administer our <a>Terms of Use</a> or other agreements;
                        (v) protect the rights, property, or personal safety of Bodybuilding.com, its employees, or members of the public.</p>
                    <h4>3.5.Service Providers</h4>
                    <p>Bodybuilding.com uses a variety of third-party service providers to help us provide services related to the Bodybuilding.com Platform(s) and our services. Service providers may be located inside or outside of the European Economic
                        Area (“EEA”). For example, services providers may help us: (i) conduct fraud prevention and risk assessments; (ii) perform product development, maintenance, and debugging; (iii) provide customer service, advertising, payment, and
                        transactional services; (iv) help us track website analytics, such as conversion and traffic metrics; and (v) verify information against public databases.</p>
                    <p>Bodybuilding.com may need to share your information, including personal information, in order to ensure the adequate performance of our contract with you (e.g., name and billing address to complete a transaction and ship your order).
                    </p>
                    <p>We enter into confidentiality and data processing terms with third-party service providers to ensure they comply with high levels of confidentiality and best practices in privacy and security standards. </p>
                    <h4>3.6.Aggregated Data, Analytics, and Advertising Partners</h4>
                    <p>Bodybuilding.com may share aggregated information (i.e., information about our users that we combine so that it no longer identifies or references an individual user) and other anonymized information for regulatory compliance, industry
                        and market analysis, demographic profiling, marketing and advertising, and other business purposes. We also provide aggregated statistics and insights that help our vendors and partners understand how people are engaging with their
                        content, listings, products, and other content on the Bodybuilding.com Platform(s).</p>
                    <p>Bodybuilding.com also provides advertisers and product vendors with reports about the kinds of people seeing their ads and how their ads are performing on Bodybuilding.com’s Platform(s); however, we do not share information that personally
                        identifies you (e.g., information such as your name or e-mail address that by itself can be used to contact you or identifies who you are) unless you give us permission. For example, we provide general demographic and interest
                        information to advertisers and/or product vendors (e.g., that an ad or product campaign was seen by a male between the ages of 25 and 34 who lives in Germany and likes gainer protein powders) to help them better understand their
                        audience, including their preferences and wants. </p>
                    <h4>3.7.Social Media Platform(s)</h4>
                    <p>Where permissible according to applicable law (and in accordance with your privacy settings), Bodybuilding.com may use certain limited personal information about you, such as your e-mail address, to hash it and to share it with social
                        media Platform(s), such as Facebook or Google, to generate leads, drive traffic to our Platform(s), or otherwise promote our products and services or Bodybuilding.com’s Platform(s). These processing activities are based on our
                        legitimate interest in undertaking marketing activities to offer you products or services that may be of interest to you. The social media Platform(s) with which we may share your data are not controlled or supervised by Bodybuilding.com;
                        therefore, any questions regarding how your social media platform service provider processes your personal data should be directed to such provider.</p>
                    <p>If you are within the EEA, please note that you may, at any time, opt out of this data processing by unchecking “Social Media and Advertising” cookies in your Cookie Settings. </p>
                    <h4>3.8.Linked Third-party Accounts</h4>
                    <p>You may link your Bodybuilding.com account with your account at some third-party social networking services, such as Facebook. When you create this link, the limited information you provide to us from the linking of your accounts may
                        be stored, processed, and transmitted by Bodybuilding.com. The publication and display of information that you provide to Bodybuilding.com through this linkage is subject to your privacy settings and authorizations on the Bodybuilding.com
                        Platform(s) and the third-party website. We only collect your information from linked third-party accounts to the extent necessary to ensure the adequate performance of our contract with you, or to ensure that we comply with applicable
                        laws, or with your consent. </p>
                    <h4>3.9.Corporate Affiliates</h4>
                    <p>To enable or support us in providing the Bodybuilding.com Platform(s), we may share your information, including personal information, within our corporate family of companies (both financial and non-financial entities) that are related
                        by common ownership or control.</p>
                    <ul>
                        <li>Sharing with Vitalize, LLC dba Bodybuilding.com. Even if your country of residence is not the United States, your information may be shared with Vitalize, LLC dba Bodybuilding.com (“Bodybuilding.com”), which provides the technical
                            infrastructure for the Bodybuilding.com Platform(s); product development and maintenance; payment processing; customer support; and other business operation services to other Bodybuilding.com entities. The data sharing is necessary
                            for the performance of the contract between you and us and is based on our legitimate interests in providing the Bodybuilding.com Platform(s) globally.</li>
                        <li>Sharing with Bodybuilding.com UK Ltd. For customers whose country of residence is outside the United States, some of your information may be shared with Bodybuilding.com UK Ltd. if you interact with our international Platform(s)
                            or utilize services to place international orders on Bodybuilding.com’s Platform(s). </li>
                    </ul>
                    <h4>3.10.Business Transactions</h4>
                    <p>If Bodybuilding.com undertakes or is involved in any merger, acquisition, corporate reorganization, sale of assets, bankruptcy, or insolvency event, then we may sell, transfer, or share some or all of our assets, including your information
                        in connection with such transaction or in contemplation of such transaction (e.g., for due diligence purposes). In the event your information will be subject to a different privacy policy, we will notify you before such event.
                    </p>
                    <h4>4.THIRD-PARTY PARTNERS &amp; INTEGRATIONS</h4>
                    <p>The Bodybuilding.com Platform(s) may contain links to third-party websites or services, such as third-party integrations or third-party branded services. Bodybuilding.com does not own or control any of these third-party partners and
                        when you interact with them, you may be providing information directly to the third-party providers, Bodybuilding.com, or both. These third-party providers will have their own rules about the collection, use, and disclosure of
                        information. We encourage you to review the privacy policies of the other websites you visit. </p>
                    <h4>5.GLOBAL OPERATIONS</h4>
                    <p>To facilitate our global operations, Bodybuilding.com may transfer, store, and process your information within our family of companies, our agents, or with service providers based in various countries, including, but not limited to,
                        Europe, North and South America, India, and Asia Pacific. These data transfers are necessary to provide the services set forth in our Terms of Use. </p>
                    <h4>6.SECURITY</h4>
                    <p>We are continuously implementing and updating administrative, technical, and physical security measures to help protect your information against unauthorized access, loss, destruction, or alteration. Some of the safeguards we use to
                        protect your information include firewalls and data encryption; compliance certifications (e.g., annual re-certification of compliance with Payment Card Industry’s Data Security Standards); information access control; and thorough
                        security and breach response policies and procedures. In the event of any actual or suspected unauthorized use of your Bodybuilding.com account, please contact us following the instructions in the “Contact Us” section below.</p>
                    <h4>7.BODYBUILDING.COM AND THE EU-US PRIVACY SHIELD</h4>
                    <p>Bodybuilding.com complies with the EU–US Privacy Shield Framework for personal information transferred to the United States from users in the EU. Under the Framework, Bodybuilding.com is subject to the Federal Trade Commission's enforcement
                        powers.
                    </p>
                    <p>Bodybuilding.com complies with the EU–US Privacy Shield Framework as set forth by the US Department of Commerce regarding the collection, use, and retention of personal information from European Union member countries. Bodybuilding.com
                        has certified that it adheres to the Privacy Shield Principles of Notice, Choice, Accountability for Onward Transfer, Security, Data Integrity and Purpose Limitation, Access, and Recourse, Enforcement and Liability. If there is
                        any conflict between the policies in this privacy policy and the Privacy Shield Principles, the Privacy Shield Principles shall govern. To learn more about the Privacy Shield program, and to view our certification page, please
                        visit <a href="https://www.privacyshield.gov/">https://www.privacyshield.gov/</a>. </p>
                    <p>In compliance with the EU–US Privacy Shield Principles, Bodybuilding.com commits to resolve complaints about your privacy and our collection or use of your personal information. European Union individuals with inquiries or complaints
                        regarding this privacy policy should first contact Bodybuilding.com at <a href="mailTo: privacy@bodybuilding.com">privacy@bodybuilding.com.</a></p>
                    <p>Bodybuilding.com has further committed to refer unresolved privacy complaints under the EU-US Privacy Shield Principles to BBB EU Privacy Shield, a non-profit alternative dispute resolution provider located in the United States and
                        operated by the Council of Better Business Bureaus. If you do not receive timely acknowledgment of your complaint, or if your complaint is not satisfactorily addressed, please visit <a href="www.bbb.org/EU-privacy-shield/for-eu-consumers/">www.bbb.org/EU-privacy-shield/for-eu-consumers/</a>                        for more information and to file a complaint.</p>
                    <p>Finally, and in certain circumstances, EU individuals may also have the right to invoke binding arbitration before the Privacy Shield Panel. Please see <a href="https://www.privacyshield.gov/article?id=C-Pre-Arbitration-Requirements">https://www.privacyshield.gov/article?id=C-Pre-Arbitration-Requirements</a>                        for more information on the binding arbitration option.</p>
                    <h4>8.ACCOUNT DATA RETENTION</h4>
                    <p>If you hold an account with Bodybuilding.com, we do not delete the data in your account, unless we receive a request from you to do so. You are responsible for the control and time periods for which you retain this data. There are
                        controls in your account where you can delete data.</p>
                    <h4>9.SAFETY OF MINORS</h4>
                    <p>Use of Bodybuilding.com’s Platform(s) is not intended for and may not be used by individuals under the age of 13 located in the United States or under the age of 16 if located outside of the United States (or under a lower age if permitted
                        by the laws of their residence). Bodybuilding.com does not knowingly collect personal data from minors or allow them to register accounts. If it comes to our attention that we have collected personal data from a minor, we may delete
                        this information without notice. If you have reason to believe this has occurred, please contact <a href="mailTo: privacy@bodybuilding.com">privacy@bodybuilding.com</a> or our Customer Service department. </p>
                    <h4>10.YOUR RIGHTS</h4>
                    <p>Bodybuilding.com acknowledges your right to access your personal data. Whenever you use our services, we aim to provide you with access to your personal information. If that information is wrong, we strive to give you ways to update
                        it quickly or to delete it – unless we must keep that information for legitimate business or legal purposes. When updating your personal information, we may ask you to verify your identity before we can act on your request.</p>
                    <p>We may reject requests that are unreasonably repetitive, require disproportionate technical effort (e.g., developing a new system or fundamentally changing an existing practice), risk the privacy of others, or would be extremely impractical
                        (for instance, requests concerning information residing on backup systems).</p>
                    <p>Where we can provide information access and correction, we will do so for free, except where it would require a disproportionate effort. We aim to maintain our services in a manner that protects information from accidental or malicious
                        destruction. Because of this, after you delete information from our services, we may not immediately delete residual copies from our active servers and may not remove information from our backup systems.</p>
                    <p>You have the right to request information about the personal data we hold on you. If your data is incorrect, incomplete, or irrelevant you can ask to have the information corrected or removed. To access or update your personal information
                        e-mail <a href="mailTo: privacy@bodybuilding.com">privacy@bodybuilding.com</a> with your current contact information and the personal information you would like to access. We will provide you the personal information requested
                        if reasonably available, or will describe the types of personal information we typically collect.</p>
                    <p>Customers Located in California</p>
                    <p>California Civil Code Section 1798.83 permits our visitors who are California residents to request certain information regarding our disclosure of personal data to third parties for their direct marketing purposes. To make such a request,
                        please contact us at <a href="mailTo: privacy@bodybuilding.com">privacy@bodybuilding.com</a>. For all requests, you must include your full name, street address, city, state, and zip code. We will not accept requests via telephone,
                        postal mail, or facsimile, and we are not responsible for notices that are not labeled or sent properly, or that do not have complete information.</p>
                    <p>Customers Located in the EEA</p>
                    <p>Notwithstanding the above, customers located in the EEA may exercise any of the rights described in this section by sending an e-mail to <a href="mailTo: privacy@bodybuilding.com">privacy@bodybuilding.com</a>. Please note that we may
                        ask you to verify your identity before taking further action on your request. </p>
                    <h4>10.1.Managing Your Information</h4>
                    <p>You may access and update some of your information, including personal information, through your Bodybuilding.com account settings. If you have chosen to connect your Bodybuilding.com account to a third-party application, such as Facebook,
                        you can change your settings and remove permission for the app by changing your account settings. You are responsible for keeping your personal information up-to-date.</p>
                    <h4>10.2.Rectification of Inaccurate or Incomplete Information</h4>
                    <p>You have the right to ask us to correct inaccurate or incomplete personal information concerning you (and which you cannot update yourself within your Bodybuilding.com account).</p>
                    <h4>10.3.Data Access and Portability</h4>
                    <p>In some jurisdictions, applicable law may entitle you to request copies of your personal information held by us. You may also be entitled to request copies of personal information that you have provided to us in a structured, commonly-used,
                        and machine-readable format, and/or request us to transmit this information to another service provider (where technically feasible). </p>
                    <h4>10.4.Data Retention and Erasure</h4>
                    <p>We generally retain your personal information for as long as is necessary for the performance of the contract between you and us and to comply with our legal obligations. If you no longer want us to use your information to provide
                        the Bodybuilding.com Platform(s) to you, you can request that we erase your personal information and close your Bodybuilding.com account. Please note that if you request the erasure of your personal information:</p>
                    <ul>
                        <li>We may retain some of your personal information as necessary for our legitimate business interests, such as fraud detection and prevention and enhancing safety.</li>
                        <li>We may retain and use your personal information to the extent necessary to comply with our legal obligations. For example, Bodybuilding.com may keep some of your information for tax, legal, and auditing obligations.</li>
                        <li>Information you have shared with others (e.g., product reviews, forum postings) may continue to be publicly visible on the Bodybuilding.com Platform, even after your account is deleted. However, attribution of such information
                            to you will be removed. Additionally, some copies of your information (e.g., log records) may remain in our database, but are disassociated from personal identifiers.</li>
                        <li>Because we maintain the Bodybuilding.com Platform(s) to protect from accidental or malicious loss and destruction, residual copies of your personal information may not be removed from our backup systems for a limited period of
                            time. </li>
                    </ul>
                    <h4>10.5.Withdrawing Consent and Restriction of Processing</h4>
                    <p>Where you have provided your consent to the processing of your personal information by Bodybuilding.com, you may withdraw your consent at any time by changing your account settings, Cookie Settings, or by sending a communication to
                        Bodybuilding.com specifying which consent you are withdrawing. Please note that the withdrawal of your consent does not affect the lawfulness of any processing activities based on such consent before its withdrawal. Additionally,
                        in some jurisdictions, applicable law may give you the right to limit the ways in which we use your personal information, in particular, where (i) you contest the accuracy of your personal information; (ii) the processing is unlawful
                        and you oppose the erasure of your personal information; (iii) we no longer need your personal information for the purposes of the processing, but you require the information for the establishment, exercise, or defense of legal
                        claims; or (iv) you have objected to the processing pursuant to Section 10.6 and pending the verification whether the legitimate grounds of Bodybuilding.com override your own. </p>
                    <h4>10.6.Objection to Processing</h4>
                    <p>In some jurisdictions, applicable law may entitle you to require Bodybuilding.com not to process your personal information for certain specific purposes (including profiling) where such processing is based on legitimate interest. If
                        you object to such processing, Bodybuilding.com will no longer process your personal information for these purposes unless we can demonstrate compelling legitimate grounds for such processing or such processing is required for
                        the establishment, exercise, or defense of legal claim(s). </p>
                    <p>Where your personal information is processed for direct marketing purposes, you may, at any time, ask Bodybuilding.com to cease processing your data for these direct marketing purposes by updating your Cookie Settings or e-mailing
                        <a href="mailTo: privacy@bodybuilding.com">privacy@bodybuilding.com</a>. </p>
                    <h4>10.7.Adjusting Your Cookie Preferences</h4>
                    <p>For customers located in the EEA, you may adjust your Cookie Settings at any time by taking the following actions:</p>
                    <ul>
                        <li>If you are accessing our site via a desktop browser, you can adjust your Cookie Settings by clicking the “Cookie Settings” link in the site footer below.</li>
                        <li>If you are accessing our site via a mobile app, or using any of Bodybuilding.com’s various mobile applications, you may access and adjust your Cookie Settings in the “Settings” menu in the mobile application.</li>
                    </ul>
                    <p>One important note is that if you do go this route, this might adversely impact your ability to use our services effectively. Enables cookies ensures a smoother experience when you use our site or mobile apps. For more information
                        about the cookies we collect and management of your cookie preferences, visit our <a>Cookies Policy</a>. </p>
                    <h4>10.8.Complaints</h4>
                    <p>You have the right to lodge complaints about the data processing activities carried out by Bodybuilding.com before the competent data protection authorities in your country.</p>
                    <h4>11.CHANGES TO THIS PRIVACY POLICY</h4>
                    <p>Bodybuilding.com reserves the right to modify this Privacy Policy at any time in accordance with this provision. If we make changes to this Privacy Policy, we will post the revised Privacy Policy on the Bodybuilding.com Platform(s)
                        and update the “Last Updated” date at the top of this Privacy Policy. We will also provide you with notice of the modification by e-mail at least thirty (30) days before the date such changes become effective. If you disagree with
                        the revised Privacy Policy, you may cancel your Bodybuilding.com account. If you do not cancel your account before the date the revised Privacy Policy becomes effective, your continued access or use of the Bodybuilding.com Platform(s)
                        will constitute acceptance of the revised Privacy Policy.</p>
                    <h4>12.CONTACT US</h4>
                    <p>If you have questions about this Privacy Policy or NewmanGenhex(temp).com’s information handling practices, you may contact us at:</p>
                    <p>NewmanGenhex(temp).com<br>Attn: Legal Department<br>5777 ABC Ave.<br>ABC, Idaho</p>
                    <p>Or you may also e-mail us at <a href="mailTo:privacy@NewmanGenhex(temp).com">privacy@NewmanGenhex(temp).com</a>.</p>
                </div>
            </div>
            <div class="cell-sm-12"><a href="mailto:#">privacy@demolink.org</a></div>
        </div>
    </div>
</section>

<div ng-controller="vm">
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
</div>