.exerciseSelect {
    padding: 10px 15px;
    background-color: rgb(189, 199, 199);
    color: rgb(70, 35, 43);
}

.exerciseSelect:hover {
    background-color: rgb(248, 255, 255);
    color: rgb(70, 35, 43);
}

.remover {
    background-color: rgb(218, 99, 99);
    padding: 4px 5px;
    margin: 3px 4px;
    color: white !important;
    float: right;
}

.adder {
    background-color: rgb(218, 99, 99);
    padding: 4px 5px;
    margin: 3px 4px;
    color: white !important;
    float: right;
}