<!-- <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body"> -->

<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>

<div ng-include="'aside-menu.html'" id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">

</div>
<!-- END: Left Aside -->
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-8" style="margin: 20px 0px 0px 25px;">
        <h3>Awesome!</h3>
        <h6>Your Profile is 78% Complete. Click below to fill out the rest of the information</h6>
        <a class="btn m-btn m-btn--gradient-from-brand m-btn--gradient-to-info m--font-light">Complete Profile!</a>
        <div class="m-portlet m-portlet--skin-dark m-portlet--bordered-semi m--bg-brand" style="margin-top: 40px;">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                                <i class="flaticon-statistics"></i>
                            </span>
                        <h3 class="m-portlet__head-text">
                            ENROLL WITH A TRAINER NOW
                        </h3>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">
                <h6>This only shows when they are not enrolled with a trainer currently.</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12" style="margin: 0px 0px 0px 25px;">
        <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                                    <i class="flaticon-statistics"></i>
                                </span>
                        <h3 class="m-portlet__head-text">
                            Below is the BMR you calculated. To get the latest Calculate again.
                        </h3>
                        <h2 class="m-portlet__head-label m-portlet__head-label--success">
                            <span>BMR</span>
                        </h2>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body text-center">
                <h3>140 BMR</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12" style="margin: 0px 0px 0px 25px;">
        <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                                        <i class="flaticon-statistics"></i>
                                    </span>
                        <h3 class="m-portlet__head-text">
                            Below is the Fat Percentage you calculated. To get the latest Calculate again.
                        </h3>
                        <h2 class="m-portlet__head-label m-portlet__head-label--success">
                            <span>Fat Percentage</span>
                        </h2>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body text-center">
                <h3>80%</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12" style="margin: 0px 0px 40px 25px;">
        <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                                            <i class="flaticon-statistics"></i>
                                        </span>
                        <h3 class="m-portlet__head-text">
                            Below are the Trainers you are enrolled with.
                        </h3>
                        <h2 class="m-portlet__head-label m-portlet__head-label--success">
                            <span>My Trainers</span>
                        </h2>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">
                <!--begin::Section-->
                <div class="m-section m-section--last">
                    <div class="m-section__content">
                        <!--begin::Preview-->
                        <div class="m-demo">
                            <div class="m-demo__preview">
                                <div class="m-list-search">
                                    <div class="m-list-search__results">


                                        <span class="m-list-search__result-category">
                                                Enrolled with following trainers
                                            </span>
                                        <a href="#" class="m-list-search__result-item">
                                            <span class="m-list-search__result-item-pic"><img class="m--img-rounded" src="assets/app/media/img/users/user1.jpg" title=""></span>
                                            <span class="m-list-search__result-item-text">Amanda Anderson</span>
                                        </a>
                                        <a href="#" class="m-list-search__result-item">
                                            <span class="m-list-search__result-item-pic"><img class="m--img-rounded" src="assets/app/media/img/users/user2.jpg" title=""></span>
                                            <span class="m-list-search__result-item-text">Kennedy Lloyd</span>
                                        </a>
                                        <a href="#" class="m-list-search__result-item">
                                            <span class="m-list-search__result-item-pic"><img class="m--img-rounded" src="assets/app/media/img/users/user3.jpg" title=""></span>
                                            <span class="m-list-search__result-item-text">Megan Weldon</span>
                                        </a>
                                        <a href="#" class="m-list-search__result-item">
                                            <span class="m-list-search__result-item-pic"><img class="m--img-rounded" src="assets/app/media/img/users/user4.jpg" title=""></span>
                                            <span class="m-list-search__result-item-text">Marc-André ter Stegen</span>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Preview-->

                    </div>
                </div>
                <!--end::Section-->
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-12 stats">
        <div class="m-portlet m-portlet--creative m-portlet--bordered-semi">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                                                <i class="flaticon-statistics"></i>
                                            </span>
                        <h3 class="m-portlet__head-text">
                            Below are your Stats
                        </h3>
                        <h2 class="m-portlet__head-label m-portlet__head-label--success">
                            <span>Target (Weight and Muscle)</span>
                        </h2>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">
                <!--begin::Section-->
                <div class="m-section m-section--last">
                    <div class="m-section__content">
                        <!--begin::Preview-->
                        <div class="m-demo">
                            <div class="m-demo__preview">
                                <div class="m-list-timeline">
                                    <div class="m-list-timeline__items">
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge m-list-timeline__badge--success"></span>
                                            <h4 class="m-list-timeline__text">Total Calorie Intake</h4>
                                            <h5 class="m-list-timeline__time">650 cals</h5>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge m-list-timeline__badge--danger"></span>
                                            <h4 class="m-list-timeline__text">Macro Nutrients Consumption</h4>
                                            <h5 class="m-list-timeline__time">200 grams</h5>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge m-list-timeline__badge--warning"></span>
                                            <h4 class="m-list-timeline__text">Water Intake</h4>
                                            <h5 class="m-list-timeline__time">20 ltr</h5>
                                        </div>
                                        <div class="m-list-timeline__item">
                                            <span class="m-list-timeline__badge m-list-timeline__badge--primary"></span>
                                            <h4 class="m-list-timeline__text">Sleep</h4>
                                            <h5 class="m-list-timeline__time">7 hr</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Preview-->

                    </div>
                </div>
                <!--end::Section-->
            </div>
        </div>
    </div>

</div>
<!-- end:: Body -->