<!-- <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body"> -->

<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>

<div ng-include="'aside-menu.html'" id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">

</div>
<!-- END: Left Aside -->
<div class="row">
    <div class="col-lg-12" style="margin: 20px 0px 0px 25px;">
        <h3>Manage Workouts</h3>
        <h6>Add/Delete/Update Workouts</h6>
    </div>
    <div class="m-content" ng-controller="workoutController" ng-init="loadworkouts()">

        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                All Workouts Related<small>Data</small>
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body ">
                    <!--begin: Search Form -->
                    <div class="m-portlet__body">
                        <input type="button" value="Show Workout Group Form" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" ng-click="showw = !showw">
                        <hr>
                        <form ng-submit="addWorkoutGroup()" class="well" ng-if="showw == true">
                            <div class="form-group m-form__group m--margin-top-10">
                                <div class="alert m-alert m-alert--default" role="alert">
                                    Add New Workouts Group
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="egname">Workout Group Name:</label>
                                <input type="text" class="form-control m-input" id="egname" aria-describedby="Workout Group Name" placeholder="Enter workout group name" ng-model="newworkoutgroup.gname">
                                <label for="ewposition">Group Position:</label>
                                <input type="number" class="form-control m-input" id="ewposition" aria-describedby="Workout Group Position" placeholder="Enter workout group Position" ng-model="newworkoutgroup.gposition">

                            </div>
                            <div class="form-group m-form__group">
                                <input type="submit" value="Add new Workout Group" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert" ng-if="success == 1">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                </button>
                                <strong>Well done!</strong> You successfully added new workout group.
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="success == 2">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                </button>
                                <strong>Oh snap!</strong> Change a few things up and try submitting again.
                            </div>
                        </form>
                        <hr>
                        <form ng-submit="addWorkout()">
                            <div class="form-group m-form__group m--margin-top-10">
                                <div class="alert m-alert m-alert--default" role="alert">
                                    Add New Workouts
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="ename">Workout Name:</label>
                                <input type="text" class="form-control m-input" id="ename" aria-describedby="Workout Name" placeholder="Enter workout name" ng-model="newworkout.name">

                            </div>

                            <div class="form-group m-form__group">
                                <label for="enamev">Workout Video Url:</label>
                                <input type="text" class="form-control m-input" id="enamev" aria-describedby="Workout Video Url" placeholder="Enter workout video url" ng-model="newworkout.videourl">

                            </div>
                            <div class="form-group m-form__group">
                                <label for="edescription">Short Description:</label>
                                <input type="text" class="form-control m-input" id="edescription" aria-describedby="Workout Description" placeholder="Enter workout short description" ng-model="newworkout.description">

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">Workout Group:</label>
                                <select class="form-control m-input" id="exampleSelect1" ng-model="newworkout.group">
                                    <option ng-repeat="g in workoutg" value="{{$index+1}}">{{g.name}}</option>
                            </select>

                            </div>
                            <div class="form-group m-form__group">
                                <label for="eposition">Group Position:</label>
                                <input type="number" class="form-control m-input" id="eposition" aria-describedby="Workout Position" placeholder="Enter workout Position" ng-model="newworkout.position">

                            </div>
                            <div class="form-group m-form__group">
                                <label for="ename">Description:</label>
                                <ng-quill-editor ng-model="newworkout.fulldesc"></ng-quill-editor>

                            </div>

                            <div class="form-group m-form__group">
                                <label for="eresult">Main Goal:</label>
                                <input type="text" class="form-control m-input" id="eresult" ng-model="newworkout.result">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="etype">Workout Type:</label>
                                <input type="text" class="form-control m-input" id="etype" ng-model="newworkout.type">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="etraining">Training Level:</label>
                                <input type="text" class="form-control m-input" id="etraining" ng-model="newworkout.level">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="eprogram">Program Duration:</label>
                                <input type="text" class="form-control m-input" id="eprogram" ng-model="newworkout.duration">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="eday">Days Per Workout:</label>
                                <input type="text" class="form-control m-input" id="eday" ng-model="newworkout.daysperworkout">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="etime">Time Per Workout:</label>
                                <input type="text" class="form-control m-input" id="etime" ng-model="newworkout.timeperworkout">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="eequip">Equipment Required:</label>
                                <input type="text" class="form-control m-input" id="eequip" ng-model="newworkout.equipment">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="egender">Target Gender:</label>
                                <input type="text" class="form-control m-input" id="egender" ng-model="newworkout.targetgender">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="erecommended">Recommended Supplements:</label>
                                <input type="text" class="form-control m-input" id="erecommended" ng-model="newworkout.supplements">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="eauthor">Author:</label>
                                <input type="text" class="form-control m-input" id="eauthor" ng-model="newworkout.author">
                            </div>
                            <div class="form-group m-form__group">
                                <label for="epdf">Download PDF:</label>
                                <input type="file" class="form-control m-input" id="epdf" aria-describedby="Workout PDF" fileread="newworkout.pdf">
                            </div>

                            <div ng-controller="workoutdayController" ng-init="loadexercises()">


                                <div>
                                    <h3>Add all Exercises first then enter the title and description of the Day</h3>
                                    <div class="form-group m-form__group" ng-repeat="exercise in exercises">
                                        <h4 class="exerciseSelect" ng-click="showDetails = ! showDetails">{{exercise.name}}</h4>
                                        <div ng-show="showDetails"> <input type="hidden" class="form-control m-input" id="eto" aria-describedby="Number of sets for this exercise" placeholder="No of sets for this exercise" ng-model="dayexercisesmod[$index].name" value="{{exercise.name}}">
                                            <input type="text" class="form-control m-input" id="eto" aria-describedby="Number of sets for this exercise" placeholder="No of sets for this exercise" ng-model="dayexercisesmod[$index].reps">
                                            <input type="text" class="form-control m-input" id="eto" aria-describedby="Number of reps for this exercise" placeholder="No of reps for this exercise" ng-model="dayexercisesmod[$index].sets">
                                            <input type="button" value="Add to Workout Day Exercise" ng-click="addExercise(exercise,$index)" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                        </div>

                                    </div>
                                    <div class="form-group m-form__group">
                                        <label for="etitle">Workout Day Title:</label>
                                        <input type="text" class="form-control m-input" id="etitle" aria-describedby="Workout Day Title" placeholder="Enter workout day title" ng-model="workoutday.name">

                                    </div>
                                    <div class="form-group m-form__group">
                                        <label for="edaydesc">Workout Day Description:</label>
                                        <input type="text" class="form-control m-input" id="edaydesc" aria-describedby="Workout Day Description" placeholder="Enter workout day desc" ng-model="workoutday.description">

                                    </div>
                                    <div class="form-group m-form__group">
                                        <input type="button" value="Add new Workout Day" ng-click="addWorkoutDay()" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                    </div>
                                </div>
                                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi" style="margin: 15px 0px;" ng-repeat="wd in workoutday">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <span class="m-portlet__head-icon m--hide">
                                                <i class="flaticon-statistics"></i>
                                            </span>
                                                <h3 class="m-portlet__head-text" ng-init="wdNo = $index">
                                                    {{wd.description}}
                                                </h3>
                                                <h2 class="m-portlet__head-label m-portlet__head-label--danger">
                                                    <span>{{wd.name}}</span>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-portlet__body">
                                        <ul class="m-portlet__nav">
                                            <li ng-repeat="exercise in wd.exercises">
                                                <h3>{{exercise.name}} | - reps : {{exercise.reps}} | - sets : {{exercise.sets}}</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>


                            <div class="form-group m-form__group">
                                <label for="eimagefile">File Image</label>
                                <div></div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="eimagefile" fileread="newworkout.image">
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <input type="submit" value="Add new Workout" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            </div>
                            <div class="alert alert-success alert-dismissible fade show" role="alert" ng-if="successWO == 1">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                </button>
                                <strong>Well done!</strong> You successfully added new workout.
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="successWO == 2">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                </button>
                                <strong>Oh snap!</strong> Change a few things up and try submitting again.
                            </div>
                        </form>
                    </div>


                    <!--begin: Datatable -->
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--brand m-datatable--loaded" id="ajax_data" style="">
                        <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row" style="left: 0px;">
                                    <th data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--sort"><span style="width: 40px;">#</span></th>
                                    <th data-field="name" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Workout Name</span></th>
                                    <th data-field="description" class="m-datatable__cell m-datatable__cell--sort"><span style="width:250px;">Workout Description</span></th>
                                    <th data-field="result" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 150px;">Result</span></th>
                                    <th data-field="fromto" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 110px;">Author</span></th>
                                    <th data-field="exercises" class="m-datatable__cell m-datatable__cell--sort"><span style="width: 210px;">Workouts</span></th>
                                </tr>
                            </thead>
                            <tbody class="m-datatable__body" style="">

                                <tr data-row="{{workout.id}}" class="m-datatable__row" style="left: 0px;" ng-repeat="workout in workouts">
                                    <td data-field="RecordID" class="m-datatable__cell--center m-datatable__cell"><span style="width: 40px;">{{workout.id}}</span></td>
                                    <td data-field="name" class="m-datatable__cell"><span style="width: 150px;">{{workout.name}}</span></td>
                                    <td data-field="description" class="m-datatable__cell"><span style="width:250px;">{{workout.description}}</span></td>
                                    <td data-field="result" class="m-datatable__cell"><span style="width: 150px;">{{workout.result}}</span></td>
                                    <td data-field="fromto" class="m-datatable__cell"><span style="width: 110px;">{{workout.author}}</span></td>
                                    <td data-field="exercises" class="m-datatable__cell">
                                        <span style="width: 210px;">
                                    <ul>
                                        <li ng-repeat="wd in workout.workoutdays">{{wd.name}} - {{wd.description}}</li>
                                    </ul>

                                </span></td>

                                    <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 110px;">			<button type="button" data-toggle="modal" data-target="#m_modal_{{$index}}" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">							<i class="la la-edit"></i>						</button>						<a ng-click="deleteWorkout(workout.id)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">							<i class="la la-trash"></i>						</a>					</span></td>

                                </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-success alert-dismissible fade show" role="alert" ng-if="successWOD == 1">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            </button>
                            <strong>Well done!</strong> You successfully deleted this workout.
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="successWOD == 2">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            </button>
                            <strong>Oh snap!</strong> Change a few things up and try submitting again.
                        </div>
                        <div class="m-datatable__pager m-datatable--paging-loaded clearfix">
                            <ul class="m-datatable__pager-nav">
                                <li><a title="First" class="m-datatable__pager-link m-datatable__pager-link--first m-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="la la-angle-double-left"></i></a></li>
                                <li><a title="Previous" class="m-datatable__pager-link m-datatable__pager-link--prev m-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="la la-angle-left"></i></a></li>
                                <li style="display: none;"><a title="More pages" class="m-datatable__pager-link m-datatable__pager-link--more-prev" data-page="1"><i class="la la-ellipsis-h"></i></a></li>
                                <li style="display: none;"><input type="text" class="m-pager-input form-control" title="Page number"></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active" data-page="1" title="1">1</a></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="2" title="2">2</a></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="3" title="3">3</a></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="4" title="4">4</a></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="5" title="5">5</a></li>
                                <li><a class="m-datatable__pager-link m-datatable__pager-link-number" data-page="6" title="6">6</a></li>
                                <li><a title="More pages" class="m-datatable__pager-link m-datatable__pager-link--more-next" data-page="7"><i class="la la-ellipsis-h"></i></a></li>
                                <li><a title="Next" class="m-datatable__pager-link m-datatable__pager-link--next" data-page="2"><i class="la la-angle-right"></i></a></li>
                                <li><a title="Last" class="m-datatable__pager-link m-datatable__pager-link--last" data-page="35"><i class="la la-angle-double-right"></i></a></li>
                            </ul>
                            <div class="m-datatable__pager-info">
                                <div class="btn-group bootstrap-select m-datatable__pager-size" style="width: 70px;"><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Select page size"><span class="filter-option pull-left">10</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                                    <div class="dropdown-menu open" role="combobox">
                                        <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                            <li data-original-index="1" class="selected"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">10</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="2"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">20</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">30</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="4"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">50</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="5"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">100</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        </ul>
                                    </div><select class="selectpicker m-datatable__pager-size" title="Select page size" data-width="70px" data-selected="10" tabindex="-98"><option class="bs-title-option" value="">Select page size</option><option value="10">10</option><option value="20">20</option><option value="30">30</option><option value="50">50</option><option value="100">100</option></select></div>
                                <span class="m-datatable__pager-detail">Displaying 1 - 10 of 350 records</span>
                            </div>
                        </div>
                    </div>
                    <!--end: Datatable -->
                </div>
            </div>

            <div class="modal fade" id="m_modal_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;" ng-repeat="workout in workouts">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit {{workout.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group m-form__group">
                                    <label for="ename">Workout Name:</label>
                                    <input type="text" class="form-control m-input" id="ename" aria-describedby="Workout Name" placeholder="Enter workout name" ng-model="workout.name">
                                    <input type="hidden" class="form-control m-input" id="ename" value="{{workout.id}}" ng-model="workout.id">
                                </div>

                                <div class="form-group m-form__group">
                                    <label for="enamev">Workout Video Url:</label>
                                    <input type="text" class="form-control m-input" id="enamev" aria-describedby="Workout Video Url" placeholder="Enter workout video url" ng-model="workout.videourl">

                                </div>
                                <div class="form-group m-form__group">
                                    <label for="edescription">Short Description:</label>
                                    <input type="text" class="form-control m-input" id="edescription" aria-describedby="Workout Description" placeholder="Enter workout short description" ng-model="workout.description">

                                </div>
                                <div class="form-group m-form__group well">
                                    <label for="exampleSelect1">Workout Group:</label>
                                    <select class="form-control m-input" id="exampleSelect1" ng-model="workout.group_id">
                                        <option ng-repeat="g in workoutg" value="{{$index+1}}">{{g.name}}</option>
                                    </select>

                                </div>
                                <div class="form-group m-form__group">
                                    <label for="eposition">Position:</label>
                                    <input type="number" class="form-control m-input" id="eposition" aria-describedby="Workout Position" placeholder="Enter workout Position" value="{{workout.position}}" ng-model="workout.position">

                                </div>
                                <div class="form-group m-form__group">
                                    <label for="ename">New Description:</label>
                                    <ng-quill-editor ng-model="workout.fulldescription"></ng-quill-editor>

                                </div>

                                <div class="form-group m-form__group">
                                    <label for="eresult">Main Goal:</label>
                                    <input type="text" class="form-control m-input" id="eresult" ng-model="workout.result">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="etype">Workout Type:</label>
                                    <input type="text" class="form-control m-input" id="etype" ng-model="workout.type">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="etraining">Training Level:</label>
                                    <input type="text" class="form-control m-input" id="etraining" ng-model="workout.level">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="eprogram">Program Duration:</label>
                                    <input type="text" class="form-control m-input" id="eprogram" ng-model="workout.duration">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="eday">Days Per Workout:</label>
                                    <input type="text" class="form-control m-input" id="eday" ng-model="workout.daysperworkout">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="etime">Time Per Workout:</label>
                                    <input type="text" class="form-control m-input" id="etime" ng-model="workout.timeperworkout">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="eequip">Equipment Required:</label>
                                    <input type="text" class="form-control m-input" id="eequip" ng-model="workout.equipment">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="egender">Target Gender:</label>
                                    <input type="text" class="form-control m-input" id="egender" ng-model="workout.targetgender">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="erecommended">Recommended Supplements:</label>
                                    <input type="text" class="form-control m-input" id="erecommended" ng-model="workout.supplements">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="eauthor">Author:</label>
                                    <input type="text" class="form-control m-input" id="eauthor" ng-model="workout.author">
                                </div>
                                <div class="form-group m-form__group">
                                    <label for="epdf">Download PDF:</label>
                                    <input type="file" class="form-control m-input" id="epdf" aria-describedby="Workout PDF" fileread="workout.pdf">
                                </div>
                                <div class="form-group m-form__group" ng-repeat="wd in workout.workoutdays">
                                    <input type="text" class="form-control m-input" id="eto" aria-describedby="Number of reps for this exercise" placeholder="No of reps for this exercise" ng-model="wd.name">
                                    <div class="form-group m-form__group" ng-repeat="exercise in wd.exercises">
                                        <h4 class="exerciseSelect">{{exercise.name}}</h4>
                                        <input type="text" class="form-control m-input" id="eto" aria-describedby="Number of reps for this exercise" placeholder="No of reps for this exercise" ng-model="exercise.reps">
                                        <input type="text" class="form-control m-input" id="eto" aria-describedby="Number of sets for this exercise" placeholder="No of sets for this exercise" ng-model="exercise.sets">

                                    </div>

                                </div>
                                <div class="form-group m-form__group">
                                    <label for="eimagefile">File Image</label>
                                    <div></div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="eimagefile" fileread="workout.image">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="updateWorkout(workout.id,workout)">Update</button>
                            <div class="alert alert-success alert-dismissible fade show" role="alert" ng-if="successWOU == 1">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                </button>
                                <strong>Well done!</strong> You successfully updated this workout.
                            </div>
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-if="successWOU == 2">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                </button>
                                <strong>Oh snap!</strong> Change a few things up and try submitting again.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>