<div ng-controller="CoachController">
    <section class="heroSection">
        <div class="row">
            <a href="malediet.html">
                <div class="col-lg-6 col-sm-6 col-md-6 hero menSection">
                    <div class="overlay">
                        <h1>GO AHEAD TOWARDS A HEALTHIER LIFESTYLE</h1>
                    </div>

                </div>
            </a>
            <a href="femalediet.html">
                <div class="col-lg-6 col-sm-6 col-md-6 hero womenSection">
                    <div class="overlay">
                        <h1>SHED YOUR POUNDS AND GET INTO SHAPE</h1>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section class="trainersSection">
        <div class="row">

            <div class="col-lg-12 col-sm-12 col-md-12 trainerImg">
            </div>
            <h3 class="text-center" style="margin: 50px 0px 50px 0px;">Our Trainers</h3>

            <div class="col-lg-12 col-sm-12 col-md-12" ng-controller="CoachController">

                <div class="owl-carousel">
                    <div class="coach text-center" ng-repeat="coach in coaches">
                        <img src="{{coach.coachpic}}" alt="">
                        <h3>{{coach.name}}</h3>
                        <p>{{coach.intro}}</p>
                        <a href="checkout?{{coach.id}}" class="theme-btn">ENROLL NOW</a>
                        <a href="coach/{{coach.id}}" class="theme-btn">DETAILS</a>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="range range-condensed">
            <div class="cell-xl-8">
                <div class="range range-condensed range-center">

                    <div class="cell-xs-12 cell-md-6">
                        <a href="junior.html">
                            <div class="img-box box-arrow box-arrow-left"><img src="images/home-1-1-640x533.jpg" width="640" height="533" alt=""></div>
                        </a>
                    </div>
                    <div class="cell-xs-12 cell-md-6 thumbnail-type-2">
                        <a href="junior.html">
                            <div class="shell">
                                <div class="range range-condensed range-center">
                                    <div class="cell-xs-10">
                                        <div class="caption">
                                            <div class="range range-30">
                                                <div class="cell-xs-12">
                                                    <h3 class="text-primary text-spacing-150">Junior <span class="text-gray-dark">programs</span></h3>
                                                    <h6 class="text-gray-darker">Express (2 weeks), Smart (3 months),<br>Normal (6 months)</h6>
                                                    <p>I offer programs for all ages, not just adults. My staff of trained professionals did their research to gather technology to create this amazing set of junior programs.</p>
                                                </div>
                                                <div class="cell-xs-12"><a class="button button-primary arrow arrow-down" href="adult-programs.html">view programs</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="range range-condensed range-center range-md-reverse range-top-0">
                    <div class="cell-xs-12 cell-md-6">
                        <a href="adult.html">
                            <div class="img-box box-arrow box-arrow-right"><img class="im" src="images/home-1-2-640x533.jpg" width="641" height="534" alt=""></div>
                        </a>
                    </div>
                    <div class="cell-xs-12 cell-md-6 thumbnail-type-2">
                        <a href="adult.html">
                            <div class="shell">
                                <div class="range range-condensed range-center">
                                    <div class="cell-xs-10">
                                        <div class="caption">
                                            <div class="range range-30">
                                                <div class="cell-xs-12">
                                                    <h3 class="text-primary text-spacing-150">Adult <span class="text-gray-dark">programs</span></h3>
                                                    <h6 class="text-gray-darker">Express (2 weeks), Smart (3 months),<br>Normal (6 months)</h6>
                                                    <p>These programs will help you get lean and sculpted. My exercise plan will speed your metabolism and help you slim down. These explosive programs require almost no equipment.</p>
                                                </div>
                                                <div class="cell-xs-12"><a class="button button-primary arrow arrow-down" href="adult-programs.html">view programs</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell-xl-4 range range-condensed range-center">
                <div class="cell-xs-12 cell-md-6 cell-xl-12">
                    <a href="workshops.html">
                        <div class="img-box box-arrow box-arrow-top"><img src="images/home-3-1-641x534.jpg" width="640" height="533" alt=""></div>
                    </a>
                </div>
                <div class="cell-xs-12 cell-md-6 cell-xl-12 thumbnail-type-2 thumb-flex-none">
                    <a href="workshops.html">
                        <div class="shell">
                            <div class="range range-condensed range-center">
                                <div class="cell-xs-10">
                                    <div class="caption">
                                        <div class="range range-30">
                                            <div class="cell-xs-12">
                                                <h3 class="text-spacing-150">workshops</h3>
                                                <h6 class="text-gray-darker">Save time by taking part <br>in my CrossFit workshops</h6>
                                                <p>CrossFit Workshops include the most comprehensive range of state of the art, ergonomically correct strength and cardio equipment as well as training instructions available at the best possible prices.</p>
                                            </div>
                                            <div class="cell-xs-12"><a class="button button-primary arrow arrow-down" href="#">view workshops</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonialsSection">
        <div class="row">

            <h2 class="text-spacing-0">Testimonials</h2>
            <!-- <h3 class="text-center">Our Clients Testimonials</h3> -->
            <div class="col-lg-10 col-sm-10 col-md-10" style="margin-top: 100px;" ng-controller="TestimonialController">

                <div class="owl-carousel">
                    <div class="testimonial text-center" ng-repeat="testimonial in testimonials">
                        <img src="{{testimonial.clientpic}}" alt=""> <img src="images/guarantee.png" style="width: 50px !important;" alt=""> <img src="{{testimonial.coachpic}}" alt="">
                        <p class="client">Client: {{testimonial.clientname}}</p>
                        <p class="coach">Coach: {{testimonial.coachname}}</p>

                        <p><img src="images/star.png" style="width: 20px !important;" alt=""><img src="images/star.png" style="width: 20px !important;" alt=""><img src="images/star.png" style="width: 20px !important;" alt=""><img src="images/star.png" style="width: 20px !important;"
                                alt=""><img src="images/star.png" style="width: 20px !important;" alt=""></p>
                        <p>{{testimonial.intro}}</p>
                        <h5>By {{testimonial.clientname}}</h5>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2" style="padding-top: 200px;">
                <h3>AND START YOURS ENROLL NOW
                </h3>
                <a href="checkout" class="theme-btn">ENROLL NOW</a>
            </div>
        </div>
    </section>
    <!-- RD Parallax-->
    <section class="section-lg text-center" style="background: url(&quot;images/bg-11.jpg&quot;) no-repeat center; background-size: cover;">
        <div class="shell-fluid">
            <div class="range range-30 range-center">
                <div class="cell-xs-12"><span class="icon icon-lg thin-icon-checklist text-white"></span></div>
                <div class="cell-xs-12 cell-lg-10">
                    <h2 class="text-uppercase text-white text-spacing-150">Daily Workouts</h2>
                    <h4 class="text-regular text-white text-uppercase text-spacing-150">personalized for every client</h4>
                </div>
                <div class="cell-xs-12"><a class="button button-white arrow arrow-right" href="adult-programs.html">view workouts</a></div>
            </div>
        </div>
    </section>
    <section>
        <div class="range range-condensed">
            <div class="cell-lg-5 cell-xl-4 bg-primary range range-middle section-sm">
                <div class="range range-center range-30">
                    <div class="cell-xs-10 cell-sm-6 cell-lg-10 cell-xl-9">
                        <h3 class="text-spacing-150 text-white">my personal free <br class="veil reveal-xs-inline">14 days fat loss guide</h3>
                        <p class="text-opacity-06 text-bold">The Fat Loss expert guide teaches you everything you need to know about losing body fat while maintaining muscle mass. Use this guide for your fat loss plan!</p>
                    </div>
                    <div class="cell-xs-10"><a class="button button-primary-3 button-icon button-icon-right" href="#">Download<span class="icon thin-icon-download icon-lg"></span></a></div>
                </div>
            </div>
            <div class="cell-lg-7 cell-xl-8 section-md bg-gray-4">
                <div class="shell-fluid">
                    <div class="range range-center range-md-left">
                        <div class="cell-xs-10 cell-md-preffix-1 cell-md-8 cell-lg-9 cell-xl-7">
                            <h4 class="text-gray-sec text-md-left text-regular">Revolutionize your fitness!</h4>
                            <h2 class="text-spacing-0 text-md-left">Body Transformation</h2>
                            <div class="range range-40 text-sm-left range-center range-sm-left">
                                <div class="cell-xs-9 cell-sm-5 cell-lg-6">
                                    <p class="big text-primary font-accent text-bold"><span class="text-regular text-gray-light-2 heading-3">01.</span> Workout</p>
                                    <p>Physical exercise is any bodily activity that enhances or maintains physical fitness and overall health and wellness.</p>
                                </div>
                                <div class="cell-xs-9 cell-sm-5 cell-lg-6">
                                    <p class="big text-primary font-accent text-bold"><span class="text-regular text-gray-light-2 heading-3">02.</span> Spinning</p>
                                    <p>The average Spinning class burns an average of 500 calories, which can bring unprecedented results.</p>
                                </div>
                                <div class="cell-xs-9 cell-sm-5 cell-lg-6">
                                    <p class="big text-primary font-accent text-bold"><span class="text-regular text-gray-light-2 heading-3">03.</span> Pilates</p>
                                    <p>My Pilates classes give you an opportunity to train your mind and not only your muscles. Try it today!</p>
                                </div>
                                <div class="cell-xs-9 cell-sm-5 cell-lg-6">
                                    <p class="big text-primary font-accent text-bold"><span class="text-regular text-gray-light-2 heading-3">04.</span> Core training</p>
                                    <p>Core training is the training of muscles. Special groups of muscles are gradually loaded for strength improvement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white section-md">
        <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-10 cell-sm-8 cell-md-12">
                    <div class="range range-xs-center range-60">
                        <div class="cell-xs-5 cell-md-3"><span class="icon icon-lg thin-icon-briefcase-2 text-gray-darker text-opacity-05"></span>
                            <div class="counter-wrap">
                                <div class="heading-1"><span class="counter" data-step="3000">12</span></div>
                                <p class="big text-bold">Training programs</p>
                            </div>
                        </div>
                        <div class="cell-xs-5 cell-md-3"><span class="icon icon-lg thin-icon-user text-gray-darker text-opacity-05"></span>
                            <div class="counter-wrap">
                                <div class="heading-1"><span class="counter" data-step="2500">352</span></div>
                                <p class="big text-bold">Happy customers</p>
                            </div>
                        </div>
                        <div class="cell-xs-5 cell-md-3"><span class="icon icon-lg thin-icon-timer text-gray-darker text-opacity-05"></span>
                            <div class="counter-wrap">
                                <div class="heading-1"><span class="counter" data-step="1500">1480</span></div>
                                <p class="big text-bold">Working hours</p>
                            </div>
                        </div>
                        <div class="cell-xs-5 cell-md-3"><span class="icon icon-lg thin-icon-satelite text-gray-darker text-opacity-05"></span>
                            <div class="counter-wrap">
                                <div class="heading-1"><span class="counter" data-step="1300">17</span></div>
                                <p class="big text-bold">International awards</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-md bg-image-5 bg-dark">
        <div class="shell">
            <div class="range range-center range-lg-condensed range-30">
                <div class="cell-xs-10 cell-sm-12 cell-lg-9">
                    <h2 class="text-spacing-0 text-regular">My Home Training Course <br class="veil reveal-md-inline">is now available</h2>
                </div>
                <div class="cell-xs-10 cell-lg-7">
                    <p class="big font-accent text-opacity-06">Do your days fly by? Is it difficult to make time for a trip to the gym? You`re in the right place.</p>
                </div>
                <div class="cell-xs-10 cell-lg-7"><a class="button button-primary-4 button-icon button-icon-right" href="#myModal" data-toggle="modal">View video<span class="icon thin-icon-camera-web icon-lg text-primary"></span></a></div>
            </div>
        </div>
    </section>
    <section class="quickLinksSection">
        <div class="row">


            <!-- <h3 class="text-center">Our Clients Testimonials</h3> -->
            <div class="col-lg-12 col-sm-12 col-md-12 quicklinks" style="margin-top: 100px;" ng-controller="quickLinksController">
                <h4 class="text-center">Links</h4>
                <div class="col-lg-3 col-sm-3 col-md-3" ng-repeat="link in links">
                    <h4>{{link.linkname}}</h4>
                    <p>{{link.info}}</p>
                    <a href="{{link.url}}" class="quicklink">Read</a>
                </div>

            </div>
        </div>
    </section>
    <section>
        <div class="shell-fluid">
            <div class="range range-0">
                <div class="cell-lg-4 section-lg bg-image-13 range-middle range">
                    <div class="range range-center range-30">
                        <div class="cell-xs-8 cell-lg-9">
                            <h6 class="text-gray-dark">Try a new experience & never stop</h6>
                            <h4 class="text-spacing-150">HOW TO STAY<br>IN SHAPE</h4>
                        </div>
                        <div class="cell-xs-8 cell-sm-6 cell-xl-4">
                            <p class="text-gray-dark">Many people want to be in good shape and improve their health, but can not cope with maintaining the correct mode.</p>
                        </div>
                        <div class="cell-xs-9"><a class="button button-primary arrow arrow-down" href="#">click here</a></div>
                    </div>
                </div>
                <div class="cell-lg-8 bg-primary section-lg">
                    <div class="range range-center">
                        <div class="cell-md-10">
                            <h2 class="text-spacing-0 text-sm-left text-white">Newsletter</h2>
                            <h4 class="text-sm-left text-white text-regular">Subscribe to my newsletter for</h4>
                            <div class="range text-left">
                                <div class="cell-sm-6">
                                    <ul class="list list-marked list-marked-white big">
                                        <li>Tips on managing stress</li>
                                        <li>Ways to stay motivated</li>
                                        <li>How to improve your metabolism</li>
                                        <li>Healthy and tasty recipes</li>
                                        <li>How to conquer procrastination</li>
                                    </ul>
                                </div>
                                <div class="cell-sm-6">
                                    <!-- RD Mailform-->
                                    <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                                        <div class="form-wrap-2">
                                            <label class="form-label text-white" for="contact-name2">First name</label>
                                            <input class="form-input form-input-3" id="contact-name2" type="text" name="name" data-constraints="@Required">
                                        </div>
                                        <div class="form-wrap-2"><span class="icon icon-sm thin-icon-email"></span>
                                            <label class="form-label text-white" for="contact-email2">E-Mail</label>
                                            <input class="form-input form-input-3 form-input-icon" id="contact-email2" type="email" name="email" data-constraints="@Email @Required">
                                        </div>
                                        <div class="form-wrap-2">
                                            <div class="form-button text-center text-lg-left">
                                                <button class="button button-block button-white-2 button-md text-bold" type="submit">Sign up</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="js/owl.carousel.min.js"></script>
<script>
    (function() {
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 60,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true,
                    loop: true
                },
                600: {
                    items: 2,
                    nav: true,
                    loop: true
                },
                1000: {
                    items: 3,
                    nav: true,
                    loop: true
                }
            }
        });
    })
</script>